# `/\⌿⍀,⍪`

## Replicate `/`

Next up is `/`. When what's on its left is an array rather than a function it instead acts like a function, which makes it unusual. We cover the operator case of `/` elsewhere, e.g. `+/` for sum. 

As a function, `/` is called [replicate](http://help.dyalog.com/latest/index.htm#Language/Primitive%20Functions/Replicate.htm). It replicates each element on the right to as many copies as indicated by the corresponding element on the left:

In [1]:
1 1 2 1 2 1 2 1/'Misisipi'

A more common usage is with a Boolean left argument, where it then acts as a filter:

In [2]:
1 0 1 1 0 0 1 0 1 1 1/'Hello World'

It has one more trick: if you use a negative number, then it replaces the corresponding element with that many prototypes (spaces for characters and zeros for numbers):

In [3]:
1 1 ¯1 1 1/'Hello'

You can also use a single scalar to "empty" an array:

In [4]:
0/'abc'
1/'abc'

`1/x` can also be used to ensure that `x` has at least one dimension (it ravels scalars, leaving all other arrays untouched):

In [5]:
⍴1/8   ⍝ Scalar becomes vector, rank 1
⍴1/8 8 ⍝ Higher ranks remain untouched

## Expand `\`

`/` has a cousin, `\`, which, when used as a function, is called [expand](http://help.dyalog.com/latest/index.htm#Language/Primitive%20Functions/Expand.htm).

Positive numbers on the left also replicate like with `/` but negative numbers insert that many prototypical elements at that position:

In [6]:
1 1 ¯1 1 1 1\1 2 3 4 5

You can use `0` instead of `¯1` which makes it convenient to use Boolean left arguments.

We can now begin to see how we can insert into an array. Let's go back to the problem of inserting 3 in between 2 and 4 in the list 1 2 4 5. Our method was: 

Get the indices of the elements:

In [7]:
⍳≢1 2 4 5

Look where the index is 2:

In [8]:
2=⍳≢1 2 4 5

That's where we want to expand:

In [9]:
1+2=⍳≢1 2 4 5

Use `\` to perform the expansion:

In [10]:
(1+2=⍳≢1 2 4 5)\1 2 4 5

Replace the extra 2 with our desired element:

In [11]:
3@(1+2)⊢(1+2=⍳≢1 2 4 5)\1 2 4 5

Just like the operators `/` and `\` each have a sibling, `⌿` and `⍀` which do the same thing but along the first axis (i.e. on the major cells) so to with the functions `/` and `\`:

In [14]:
(1 0 1/3 3⍴⎕A) (1 0 1⌿3 3⍴⎕A)
(1 ¯2 1 1\3 3⍴⎕A) (1 ¯2 1 1⍀3 3⍴⎕A)

## Ravel `,`

Monadic `,` [ravels](http://help.dyalog.com/latest/index.htm#Language/Primitive%20Functions/Ravel.htm). It takes all the scalars of an array and makes a single vector (list) out of them. This includes a scalar, so `,3` is a one-element vector:

In [15]:
3 3⍴⎕A
,3 3⍴⎕A

Question:
> Isn't that the same as monadic `∊`?

It is not. For example,

In [16]:
∊3 3⍴⎕A
∊3 3 3⍴⍳27

The difference is that `∊` will take all the data and make it a simple vector. `,` will take all the scalars and make it a (potentially nested) vector:

In [17]:
∊2 2⍴'abc' 'def' 'ghi' 'jkl'
,2 2⍴'abc' 'def' 'ghi' 'jkl'

`∊` is the same as recursive application of `⊃,/`.

## Catenate `,`

Which brings us to dyadic `,`, [catenate](http://help.dyalog.com/latest/index.htm#Language/Primitive%20Functions/Catenate%20Laminate.htm), which is simply concatenation:

In [18]:
1 2 3,4 5 6

`,` can also get specified an axis upon which to act:

In [19]:
(2 3⍴⎕A),[1](2 3⍴⍳6)
(2 3⍴⎕A),[2](2 3⍴⍳6)

You can even use fractional axes to specify that you want to concatenate along a new inserted axis between the next lower and higher integer axes:

In [20]:
(2 3⍴⎕A),[0.5](2 3⍴⍳6) ⍝ 3D array
(2 3⍴⎕A),[1.5](2 3⍴⍳6) ⍝ 3D array

This works for the monadic form too:

In [21]:
,[0.5]2 3⍴⎕A
⍴,[0.5]2 3⍴⎕A
,[1.5]2 3⍴⎕A
⍴,[1.5]2 3⍴⎕A

## Catenate first `⍪`

Then we have `⍪`. The dyadic `⍪` is a synonym for `,[1]`, and it's sometimes referred to as [catenate first](http://help.dyalog.com/latest/index.htm#Language/Primitive%20Functions/Catenate%20First.htm):

In [22]:
(2 3⍴⎕A),[1](2 3⍴⍳6)
(2 3⍴⎕A)⍪(2 3⍴⍳6)

## Table `⍪`

Monadic `⍪` is called [table](http://help.dyalog.com/latest/index.htm#Language/Primitive%20Functions/Table.htm) as it ensures that the result is a table. It ravels the major cells of an array and makes each one of them into a row (i.e. a major cell) of a matrix:

In [24]:
2 3 4⍴⎕A
⍪2 3 4⍴⎕A

That is, monadic `⍪` is just a synonym for `,⍤¯1` (except for scalars). To be universal, we'd need to say `{,⍤¯1⊢1/⍵}`.