# Lesson 9: APL functions, part 4

We're carrying on with our APL functions marathon, looking at: `⍸∊⍷∪∩~ /\⌿⍀ ,⍪`

Monadic `⍸` just takes a simple Boolean array and returns the list of true indices.

In [57]:
⍸0 1 0 1 1

In [58]:
⊢m←2 3⍴0 1 0 1 1 0
⍸m

A code golf trick: sum a Boolean array with `≢⍸` instead of `+/`,

In [59]:
≢⍸2 3⍴0 1 0 1 1 0

Dyadic `⍸` is interval index. It takes a list of sorted arrays on the left, and for each array on the right, tells which "gap" (interval) it belongs.

In [60]:
1 10 100 1000⍸0 500 2000 3 10

So 0 is in interval number 0 (that is, before 1–10). 500 is in interval 3, which is 100–1000, etc.
And as you can see from 10, it is in interval 2; 10–100. So intervals are [min,max).
For higher rank arrays, it works like _grade_, i.e. on major cells.

Dyadic `∊` is membership. For each scalar in the left argument, return a Boolean if it is a member of the right argument:

In [7]:
'aeiou'∊'Hello World'

Question:
> Does APL have an "insert at index" command? As in, given an array, an index and a value, insert value at the index in the array. Example: [1, 2, 4, 5], 2, 3 => [1, 2, 3, 4, 5]

There are a couple of approaches:

In [9]:
∊(⊂,∘3)@2⊢1 2 4 5

This appended a 3 to the 2, then flattened. You flatten with monadic `∊` which is the function we're up to. A more traditional and better performing approach would be:

In [10]:
{3@(1+2)⊢⍵\⍨1+2=⍳≢⍵}1 2 4 5

but we have not covered the `\` function yet.

So, `∊` "enlists":

In [61]:
⊢m←(⍳3)(2 2⍴⍳4)
∊m

Next up is `⍷` which is (as of yet) only dyadic. `⍷` is _find_. It returns a Boolean array of the right argument's shape with a 1 at the "top left" corner of occurrences of the left argument in the right argument:

In [62]:
'ss'⍷'Mississippi'

The ones here indicate the left "s" wherever "ss" begins. It also works for overlaps,

In [63]:
'aba'⍷'alababa'

and for higher-rank arrays:

In [54]:
2 2⍴0 1 0
3 3⍴0 1 1 0
(2 2⍴0 1 0)⍷(3 3⍴0 1 1 0)

and also for nested arrays, too:

In [18]:
'aa' 'bbb'⍷'c' 'aa' 'bbb' 'dddd' 'aa' 'aa' 'bbb'

Quiz using `⍷`: Determine if A is a prefix of B.

<details><summary><a>Click for quiz answer</a></summary><code>⊃⍷</code></details>

How about: Is A a suffix of B?

<details><summary><a>Click for quiz answer</a></summary><code>{⊃(⊖⍺)⍷⊖⍵}</code></details>

Next function is dyadic `∪`. It is basically _union_ of multi-sets. However, it is symmetrical in a way you can often use to your advantage:

In [21]:
'abcc'∪'cda'
'cda'∪'abcc'

It preserves duplicates from the left argument, while only adding the items from the right necessary to make the result contain all elements from both. It will add duplicate elements from the right if they are not in the left, though:

In [22]:
'abcc'∪'cdda'

The monadic `∪` is _unique_. It simply removes duplicates:

In [23]:
∪'Mississippi'

Dyadic `∩` is, of course, intersection, again asymmetric:

In [24]:
'abcc'∩'cda'
'cda'∩'abcc'

It removes elements from the left which are not present in the right. Duplicates in the right do not matter.

The last multi-set function is dyadic `~` which is _without_ or _except_. It simply removes from the left whatever is on the right. Note that it can take even high-rank right arguments.

In [25]:
'Mississippi'~'pss'

Monadic `~` is logical NOT, simply swapping `1→0` and `0→1`:

In [26]:
(3 3⍴0 1 1 0) (~3 3⍴0 1 1 0)

Next up is `/`. When what's on its left is an array rather than a function it instead acts like a function, which makes it unusual. We cover the operator case of `/` elsewhere, e.g. `+/` for sum. 

As a function, `/` is called _replicate_. It replicates each element on the right to as many copies as indicated by the corresponding element on the left:

In [27]:
1 1 2 1 2 1 2 1/'Misisipi'

A more common usage is with a Boolean left argument, where it then acts as a filter:

In [28]:
1 0 1 1 0 0 1 0 1 1 1/'Hello World'

It has one more trick: if you use a negative number, then it replaces the corresponding element with that many prototypes (spaces for characters and zeros for numbers):

In [29]:
1 1 ¯1 1 1/'Hello'

You can also use a single scalar to "empty" an array:

In [30]:
0/'abc'
1/'abc'

`/` has a cousin, `\`, which, when used as a function, is called _expand_.

Positive numbers on the left also replicate like with `/` but negative numbers insert that many prototypical elements at that position:

In [31]:
1 1 ¯1 1 1 1\1 2 3 4 5

You can use `0` instead of `¯1` which makes it convenient to use Boolean left arguments.

We can now begin to see how we can insert into an array. Let's go back to the problem of inserting 3 in between 2 and 4 in the list 1 2 4 5. My method was: 

Get the indices of the elements:

In [32]:
⍳≢1 2 4 5

Look where the index is 2:

In [33]:
2=⍳≢1 2 4 5

That's where we want to expand:

In [34]:
1+2=⍳≢1 2 4 5

Use `\` to perform the expansion:

In [37]:
(1+2=⍳≢1 2 4 5)\1 2 4 5

Replace the extra 2 with our desired element:

In [38]:
3@(1+2)⊢(1+2=⍳≢1 2 4 5)\1 2 4 5

Just like the operators `/` and `\` each have a sibling, `⌿` and `⍀` which do the same thing but along the first axis (i.e. on the major cells) so to with the functions `/` and `\`:

In [39]:
(1 0 1/3 3⍴⎕A) (1 0 1⌿3 3⍴⎕A)

In [40]:
(1 ¯2 1 1\3 3⍴⎕A) (1 ¯2 1 1⍀3 3⍴⎕A)

Monadic `,` ravels. It takes all the scalars of an array and makes a single vector (list) out of them. This includes a scalar, so `,3` is a one-element vector:

In [41]:
3 3⍴⎕A
,3 3⍴⎕A

Question:
> Isn't that the same as monadic `∊`?

It is not. For example,

In [55]:
∊3 3⍴⎕A
∊3 3 3⍴⍳27

The difference is that `∊` will take all the data and make it a simple vector. `,` will take all the scalars and make it a (potentially nested) vector:

In [43]:
∊2 2⍴'abc' 'def' 'ghi' 'jkl'
,2 2⍴'abc' 'def' 'ghi' 'jkl'

`∊` is the same as `,/,⊃,/,⊃,/,`… 

Which brings us to dyadic `,` which is simply concatenation:

In [44]:
1 2 3,4 5 6

`,` can also get specified an axis upon which to act:

In [46]:
(2 3⍴⎕A),[1](2 3⍴⍳6)
(2 3⍴⎕A),[2](2 3⍴⍳6)

You can even use fractional axes to specify that you want to concatenate along a new inserted axis between the next lower and higher integer axes:

In [48]:
(2 3⍴⎕A),[0.5](2 3⍴⍳6) ⍝ 3D array
(2 3⍴⎕A),[1.5](2 3⍴⍳6) ⍝ 3D array

This works for the monadic form too:

In [50]:
,[0.5]2 3⍴⎕A
⍴,[0.5]2 3⍴⎕A
,[1.5]2 3⍴⎕A
⍴,[1.5]2 3⍴⎕A

Then we have `⍪`. The dyadic `⍪` is a synonym for `,[1]`, and it's sometimes referred to as _catenate first_:

In [51]:
(2 3⍴⎕A),[1](2 3⍴⍳6)
(2 3⍴⎕A)⍪(2 3⍴⍳6)

Monadic `⍪` is called _table_ as it ensures that the result is a table. It ravels the major cells of an array and makes each one of them into a row (i.e. a major cell) of a matrix:

In [56]:
2 3 4⍴⎕A
⍪2 3 4⍴⎕A

That is, monadic `⍪` is just a synonym for `,⍤¯1` (except for scalars).